[MAIN]
jobs=0

[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        unspecified-encoding,
        too-many-instance-attributes,
        too-many-arguments,
        too-many-locals,
        too-many-branches,
        too-many-nested-blocks,
        too-many-statements,
        too-many-lines,
        consider-using-with,

[FORMAT]
max-line-length = 120

[BASIC]
good-names=i,
           j,
           k,
           ex,
           Run,
           _,
           f,
           df,
           bs,
           pl,
           lr,
           up,
