name: Check homepage build

on:
  pull_request:
    paths:
      - 'examples/**'
      - 'docs/**'
      - 'zeus/**'
      - 'mkdocs.yml'
      - 'docker/Dockerfile'
      - '.github/workflows/check_homepage_build.yaml'

# Jobs initiated by previous pushes get cancelled by a new push.
concurrency:
  group: ${{ github.ref }}-check-homepage-build
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: "3.9"
      - name: Install Zeus and dependencies
        run: uv sync --extra docs
      - name: Build homepage
        run: uv run mkdocs build --verbose --strict
        env:
          BUILD_SOCIAL_CARD: true
