name: (Zeus) Check format, lint, and test

on:
  pull_request:
    paths:
      - '.github/workflows/zeus_fmt_lint_test.yaml'
      - 'zeus/**'
      - 'tests/**'
      - 'capriccio/*.py'
      - 'examples/**'
      - 'setup.py'
      - 'scripts/lint.sh'
      - 'pyproject.toml'
  push:
    paths:
      - '.github/workflows/zeus_fmt_lint_test.yaml'
      - 'zeus/**'
      - 'tests/**'
      - 'capriccio/*.py'
      - 'examples/**'
      - 'setup.py'
      - 'scripts/lint.sh'
      - 'pyproject.toml'
    paths-ignore: # if only a .md file is changed, no testing is needed
      - '**/*.md'

# Jobs initiated by previous pushes get cancelled by a new push.
concurrency:
  group: ${{ github.ref }}-zeus-lint-and-test
  cancel-in-progress: true

jobs:
  format_lint_test:
    if: ${{ github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
          cache: 'pip'
      - name: Install Zeus and lint tools
        run: pip install -U pip && pip install ".[dev]"
      - name: Check format and lint
        run: bash scripts/lint.sh
      - name: Run tests
        run: python -m pytest
